{% extends 'base.html.twig' %}

{% block title %} {{ contents.title }} {% endblock %}
{% block body %}
    <h1>{{ contents.pagename }}</h1>
    <p>{{  contents.aboutcontent }}</p>
    {% if  contents.showadditionalinfo %}
    <p>{{  contents.additionalinfo | default('Contacts exists.') }}</p>
    {% else %}
    <p>Contacts exists.</p>
    {% endif %}
{% endblock %}