{% extends 'base.html.twig' %}

{% block title %} Guest {% endblock %}
{% block body %}
    <h1>Info page</h1>
    <p>Person first name: {{ person.firstName }} last name: {{ person.lastName }}</p>
    <p>Position: {{ info | default('is not specified')}}</p>
    <a href="/">Welcome</a>
{% endblock %}