hello:
   path: /hello
   controller: App\Controller\HelloController::hello

welcome:
   path: /
   controller: App\Controller\WelcomeController::welcome

guest:
   path: /guest
   controller: App\Controller\GuestController::guest

animal:
    path: /animal/{name}
    controller: App\Controller\AnimalUrlController::animal

home:
    path: /home
    controller: App\Controller\HomeController::index

commit:
    path: /{userName}/{repositoryName}
    requirements:
        repositoryName: .+
    controller: App\Controller\RepositoryCommitsInfoController::index