{% extends 'base.html.twig' %}

{% block body %}
    {% if packageInfo is not defined %}
        <h1>Repository<b>{{ repositoryName }}</b> does not exist!</h1>
    {% else %}

    {% endif %}
{% endblock %}